.navigation__burger-menu {
  background-image: url(../../images/burger.svg);
  width: 44px;
  height: 44px;
  border: 0;
  background-color: #fff;
  margin-top: 15px;
  display: none;
}

@media (max-width:768px) {
  .navigation__burger-menu {
    display: block;
    cursor: pointer;
  }
}