.about-project__duration_subtitle {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #A0A0A0;
}

@media (max-width:320px) {
  .about-project__duration_subtitle {
    font-size: 11px;
    line-height: 13.31px;
  }
}