.about-project__duration-container {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: repeat(2, auto);
  row-gap: 14px;

  margin-top: 110px;
}

@media (max-width:768px) {
  .about-project__duration-container {
    margin-top: 93px;
  }
}

@media (max-width:768px) {
  .about-project__duration-container {
    grid-template-columns: 35.3% 64.7%;
  }
}

@media (max-width:320px) {
  .about-project__duration-container {
    margin-top: 60px;
  }
}