.burger-menu__profile {
  background-image: url(../../images/profile.svg);
  background-repeat: no-repeat;
  width: 100px;
  height: 30px;
  margin-top: 621px;
} 

@media (max-width:320px) {
  .burger-menu__profile{
    margin-top: 444px;
  }
}