{
  "extends": "airbnb-base",
  "overrides": [
    {
      "files": ["*.js"],
      "rules": {
        "vue/comment-directive": "off",
        "no-underscore-dangle": "off"
      }
    }
  ],
  "rules": {
    "no-underscore-dangle": ["error", { "allow": ["_id"] }]
  }
}
