.page-not-found__link {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.94px;
  color: #ff6838;
  margin-top: 184px;
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 320px) {
  .page-not-found__link {
    margin-top: 284px;
  }
}