.login__container {
  width: 396px;
  display: flex; 
  flex-direction: column;
}

@media (max-width:467px) {
  .login__container {
    width: 100%;
  }
}

@media (max-width:320px) {
  .login__container {
    width: 100%;
  }
}