.about-me__portfolio_element_title {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
  height: fit-content;
}

@media (max-width:768px) {
  .about-me__portfolio_element_title {
    font-size: 28px;
  }
}

@media (max-width:320px) {
  .about-me__portfolio_element_title{
    font-size: 18px;
    line-height: 28px;
  }
}